{% extends 'base.html' %}

{% block title %}Ventas{% endblock %}

{% block content %}

<h2>Ventas realizadas</h2>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Vehículo</th>
            <th>Comprador</th>
            <th>Fecha</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>{{ venta.vehiculo }}</td>
            <td>{{ venta.comprador.username }}</td>
            <td>{{ venta.fecha }}</td>
            <td>${{ venta.precio_final }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay ventas registradas</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}