{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CarNest{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
</head>
<body class="body-carnest">


<nav class="navbar navbar-dark navbar-carnest navbar-expand-lg">
    <div class="container">
        {% include 'partials/brand.html' %}

        <div class="d-flex flex-wrap align-items-center gap-2 ms-auto">
            <a href="/inventario/" class="btn btn-outline-light">Vehículos</a>
            {% if user.is_authenticated and user.is_staff %}
                <a href="/anuncios/" class="btn btn-outline-light">Anuncios</a>
            {% endif %}

            {% if request.user.is_authenticated %}

                <a href="/carrito/" class="btn btn-outline-light">
                    <img src="{% static 'img/carrito.png' %}" alt="Carrito">
                </a>

                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        {{ request.user.username }}
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">
                                    Cerrar sesión
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>

            {% else %}

                <a href="{% url 'login' %}" class="btn btn-outline-light">Login</a>
                <a href="{% url 'registro' %}" class="btn btn-outline-light">Registro</a>

            {% endif %}
        </div>
    </div>
</nav>


<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>